.input-label {
  display: block;
  position: relative;
}

.input-label__text {
  display: block;
  font-size: 1.16rem;
  margin-bottom: .67rem;
}

.input {
  width: 100%;
  padding: .917rem .83rem;
  border: 1px solid #DFE3E6;
  border-radius: .22rem;
  outline: none;
  font-size: 1.16rem;
}

.input--invalid {
  border-color: #EA0029;
}

.input:disabled {
  border-color: #808080;
}

.input:focus {
  border-color: #000;
}

.input::-webkit-input-placeholder {
  color: #BEC5CC;
}

@media (min-width: 768px) {
  .input {
    font-size: 1rem;
    font-weight: 1.71;
  }
  .input-label__text {
    font-size: 1rem;
    margin-bottom: .57rem;
  }
}