.popup-overlay {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, .3);
  overflow: auto;
  z-index: 10;
  visibility: hidden;
  opacity: 0;
  transition: all .3s ease-in;
}

.popup {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  min-height: 100%;
  background-color: #fff;
  padding: 22px 16px 16px;
  z-index: 20;
  visibility: hidden;
  opacity: 0;
  transition: all .3s ease-in;
}

.popup-overlay.active,
.popup.active {
  visibility: visible;
  opacity: 1;
}

.popup-head {
  position: relative;
  margin-bottom: 2rem;
}

.popup__title {
  margin-bottom: 1.33rem;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.33;
  color: #000000;
}

.popup-description {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.33;
  color: #808080;
}

.popup__link-button {
  margin-bottom: 2rem;
}

.popup-info {
  display: flex;
  flex-direction: column;
  margin-bottom: 12.7rem;   
}

.popup-into__text {
  font-size: 1.16rem;
  font-weight: 5000;
  margin-bottom: 2rem;
}

.popup-info__tag {
  margin-right: .67rem;
}

.popup__tax-deductions {
  margin-bottom: 2rem
}

.popup__button {
  width: 100%;
}

@media (min-width: 768px) {
  .popup {
    max-width: 32.35rem;
    min-height: auto;
    left: 50%;
    top: 50%;
    padding: 2.29rem;
    transform: translate(-50%, -50%);
    border-radius: 2.143rem;
  }

  .popup-head {
    margin-bottom: 1.72rem;
  }

  .popup__title {
    margin-bottom: 1.143rem;
    font-size: 2rem;
    line-height: 1.43;
  }

  .popup-description {
    line-height: 1.71;
  }

  .popup__link-button {
    font-size: 1rem;
    margin-bottom: 1.72rem;
  }

  .popup-info {
    flex-direction: row;
    align-items: center;
    margin-bottom: 2.86rem;
  }

  .popup-into__text {
    margin-bottom: 0;
    margin-right: 2.28rem;
  }

  .popup-info__tag {
    margin-right: 1.143rem;
  }

  .popup__tax-deductions {
    margin-bottom: 1.423rem;
    font-size: 1rem;
    line-height: 1.71;
  }
}